body {
  background-color: white;
}

#mainContainer {
  display: flex;
  width: 90%;
  height: 100%;
  justify-content: center;
  margin: 30px auto;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 10px;
}
.content {
  display: flex;
  width: 350px;
  height: 350px;
  background-color: lightgrey;
  margin: 10px;
  border-radius: 10px;
  justify-content: center;
}
