.bottcontainer {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: #f8f8f8; //#bec2c6 eredeti  #f8f8f8
  border-top: 3px solid #0c71c3;
  bottom: -2460px;

  .footerlogo {
    width: 90px;
    height: 80px;
    margin-top: 10px;
  }

  .bottcontent {
    width: 80%;
    height: 100%;
    //border: 1px solid black;
    margin: 0 auto;

    .footerh {
      position: absolute;
      left: 300px;
      bottom: 155px;
    }

    .mail {
      color: #67a5d9;
      margin-bottom: 15px;
    }
    .mail::before {
      content: " E-mail: ";
      font-weight: 700;
      color: black;
    }

    p {
      margin-top: 15px;
    }
  }
}
