.bottcontainer {
  width: 100%;
  height: 200px;
  background-color: #f7fafc;
  .footerlogo {
    width: 90px;
    height: 90px;
  }

  .bottcontent {
    width: 80%;
    height: 100%;
    //border: 1px solid black;
    margin: 0 auto;

    .footerh {
      position: absolute;
      left: 300px;
      bottom: -360px;
    }

    .mail {
      color: #67a5d9;
    }
    .mail::before {
      content: " E-mail: ";
      font-weight: 700;
      color: black;
    }
  }
}
