.nav {
  width: 100%;
}
img {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
ul {
  float: right;
}
li {
  display: inline;

  a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 10px;

    &:hover {
      color: #0c71c3;
      border-bottom: 2px solid #0c71c3;
    }
  }
}
