@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.moretext {
  position: absolute;
  bottom: 50px;
  width: 80%;
  height: 5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: white;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
}

.moretext p {
  margin: 0 auto;
  font-size: 22px;
  font-weight: 900;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.swiper-button-prev {
  color: black;
}

.swiper-button-next {
  color: black;
}

header {
  width: 100%;
  height: 30px;
}

header .logo {
  position: absolute;
  left: 330px;
  top: 10px;
  width: 72px;
  height: 53px;
}

header ul {
  position: absolute;
  right: 330px;
  top: 30px;
}

header li {
  display: inline;
}

header li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

header li a:hover {
  color: #ff8b35;
  border-bottom: 2px solid #ff8b35;
  font-weight: 700;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.mainlogo {
  width: 100%;
}

.secondlogo {
  width: 1900px;
}

.title {
  position: absolute;
  top: 120px;
  left: 330px;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}

#mainContainer .qcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 500px;
  height: 200px;
  left: 330px;
  top: 280px;
  line-height: 150%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

#mainContainer .nvg-container {
  margin-top: 50px;
  width: 60%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainContainer .nvg-container a {
  position: absolute;
  top: 825px;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 800;
  margin-left: 10px;
}

#mainContainer .nvg-container .nvg1 a:hover {
  color: #b6cd58;
  border-bottom: 2px solid #b6cd58;
}

#mainContainer .nvg-container .nvg2 a:hover {
  color: #ffaa11;
  border-bottom: 2px solid #ffaa11;
}

#mainContainer .nvg-container .nvg3 a:hover {
  color: #d75557;
  border-bottom: 2px solid #d75557;
}

#mainContainer .nvg-container .nvg4 a:hover {
  color: #46c2dc;
  border-bottom: 2px solid #46c2dc;
}

#mainContainer .textcontent {
  width: 80%;
  height: 650px;
  margin-bottom: 40px;
}

#mainContainer .textcontent h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 10px;
}

#mainContainer .textcontent p {
  font-size: 18px;
}

#mainContainer .textcontent p a {
  color: #0c71c3;
}

#mainContainer .textcontent .logos {
  position: absolute;
  left: 145px;
}

#mainContainer .textcontent .main {
  float: left;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 200%;
}

#mainContainer .alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -825px;
  width: 80%;
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

#mainContainer .alert h4 {
  font-size: 22px;
  margin: 0 auto;
}

#mainContainer .alert p {
  font-size: 18px;
  position: absolute;
  top: 45px;
  left: 165px;
  color: #67a5d9;
}

#mainContainer .alertcontent::before {
  content: "Amennyiben gondjuk, problémájuk adódik a Kréta rendszerbe való belépéssel ezen az e-mail címen jelezzék: ";
  color: black;
}

#mainContainer .news {
  width: 80%;
}

#mainContainer .news .newslogo {
  position: absolute;
  left: 145px;
}

#mainContainer .news h2 {
  text-align: center;
  font-size: 34px;
  margin-top: 80px;
}

#mainContainer .news p {
  font-size: 18px;
}

#mainContainer .news p a {
  color: #0c71c3;
  font-weight: 600;
}

#mainContainer .Plister {
  width: 80%;
  height: 500px;
}

#mainContainer .Plister h2 {
  text-align: center;
  font-size: 34px;
}

#mainContainer .address {
  position: absolute;
  bottom: -2160px;
  width: 80%;
  height: 200px;
  text-align: center;
  margin-top: 100px;
}

#mainContainer .address h2 {
  color: #0c71c3;
  font-size: 22px;
}

#mainContainer .address p {
  font-size: 18px;
}

.bottcontainer {
  width: 100%;
  height: 250px;
  position: absolute;
  background-color: #f7fafc;
  border-top: 3px solid #0c71c3;
  bottom: -2460px;
}

.bottcontainer .footerlogo {
  width: 90px;
  height: 80px;
  margin-top: 10px;
}

.bottcontainer .bottcontent {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.bottcontainer .bottcontent .footerh {
  position: absolute;
  left: 300px;
  bottom: 155px;
}

.bottcontainer .bottcontent .mail {
  color: #67a5d9;
  margin-bottom: 15px;
}

.bottcontainer .bottcontent .mail::before {
  content: " E-mail: ";
  font-weight: 700;
  color: black;
}

.bottcontainer .bottcontent p {
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */