@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 30px;
}

header .logo {
  position: absolute;
  left: 380px;
  top: 10px;
  width: 72px;
  height: 53px;
}

header ul {
  position: absolute;
  right: 280px;
  top: 30px;
}

header li {
  display: inline;
}

header li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin: 10px;
  font-family: "Montserrat", sans-serif;
}

header li a:hover {
  color: #0c71c3;
  border-bottom: 2px solid #0c71c3;
  font-weight: 700;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
}

.mainlogo {
  width: 100%;
}

.secondlogo {
  width: 1900px;
}

.title {
  position: absolute;
  top: 120px;
  left: 380px;
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
}

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 10px;
}

#mainContainer .qcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 500px;
  height: 200px;
  left: 380px;
  top: 280px;
  line-height: 150%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}

#mainContainer .nvg-container {
  margin-top: 50px;
  width: 1000px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#mainContainer .nvg-container a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 800;
  margin-left: 10px;
}

#mainContainer .nvg-container .nvg1 a:hover {
  color: #b6cd58;
  border-bottom: 2px solid #b6cd58;
}

#mainContainer .nvg-container .nvg2 a:hover {
  color: #ffaa11;
  border-bottom: 2px solid #ffaa11;
}

#mainContainer .nvg-container .nvg3 a:hover {
  color: #d75557;
  border-bottom: 2px solid #d75557;
}

#mainContainer .nvg-container .nvg4 a:hover {
  color: #46c2dc;
  border-bottom: 2px solid #46c2dc;
}

#mainContainer .textcontent {
  display: none;
}

#mainContainer .alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -180px;
  width: 80%;
  height: 100px;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
}

#mainContainer .alert h4 {
  font-size: 22px;
  margin: 0 auto;
}

#mainContainer .alert p {
  font-size: 18px;
  position: absolute;
  top: 40px;
  left: 180px;
  color: #67a5d9;
}

#mainContainer .alertcontent::before {
  content: "Amennyiben gondjuk, problémájuk adódik a Kréta rendszerbe való belépéssel ezen az e-mail címen jelezzék: ";
  color: black;
}

.bottcontainer {
  width: 100%;
  height: 200px;
  background-color: #f7fafc;
}

.bottcontainer .footerlogo {
  width: 90px;
  height: 90px;
}

.bottcontainer .bottcontent {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.bottcontainer .bottcontent .footerh {
  position: absolute;
  left: 300px;
  bottom: -360px;
}

.bottcontainer .bottcontent .mail {
  color: #67a5d9;
}

.bottcontainer .bottcontent .mail::before {
  content: " E-mail: ";
  font-weight: 700;
  color: black;
}
/*# sourceMappingURL=style.css.map */